/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Font*/
body {
	font-family: 'Dosis', sans-serif;
	background-color: palegreen;
	text-align: center;
	padding: 10px;
}
/*End of Font*/

/*Nav Bar*/
.topnav {
	background-color: #023020;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

.topnav a:hover {
	color: palegreen;
}

/*End of Navbar*/
.text-center, h1 {
	padding: 10px;
	margin-bottom: 1rem;
}

.text-center, h3 {
	padding: 10px;
	margin-bottom: 1rem;
}

/*Header*/

header {
	padding: 10px;
}

/*Images*/

div .col {
	display: inline-block;
	padding: 2rem;
}

.row {
	padding: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
}

img {
	display: inline-block;
	width: 300px;
	height: 300px;
	padding: 10px;
	margin: 2px;
}

.col #d1 {
	background-color: #023020;
}

.col #d2 {
	background-color: #4F7942;
}

.col #d3 {
	background-color: #228B22;
}