/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Font*/
body {
	font-family: 'Dosis', sans-serif;
	background-color: palegreen;
	text-align: center;
	padding: 10px;
}
/*End of Font*/

/*Nav Bar*/
.topnav {
	background-color: #023020;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

/*End of Nav Bar*/

.text-center, h1 {
	padding: 10px;
	margin-bottom: 1rem;
}

.text-center, h3 {
	padding: 10px;
	margin-bottom: 1rem;
}

h2 {
	padding: 2rem;
}

/*Images*/

.row {
	display: block;
	text-align: center;
}

img {
	height: auto;
	width: 250px;
	padding: 5px;
	margin: 2rem;
	background-color: #023020;
	padding-bottom: 1rem;
}