/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Font*/
body {
	font-family: 'Dosis', sans-serif;
	background-color: palegreen;
	text-align: center;
	padding: 10px;
}
/*End of Font*/

/*Nav Bar*/
.topnav {
	background-color: #023020;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

/*End of Nav Bar*/

/*Form*/

h2 {
	text-align: center;
	padding-top: 1.3rem;
}

form h2 {
	padding-bottom: 2rem;
}

form {
	display: inline-block;
	align-content: center;
	background-color: #FDFD96;
	padding-left: 15rem;
	padding-right: 15rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin: 2rem;
	border-style: dotted;
	border-color: green;
}

label {
	padding-top: 1rem;
}

.quos {
	margin: 1rem;
}

/*End of Form*/

/*Button*/

button {
	padding-top: 3px;
	text-align: center;
	background-color: yellow;
	border: none;
	color: black;
	margin: 2px;
}

/*Imgs*/

.img #nyan {
	display: inline-block;
	width: 300px;
	border-radius: 40%;
	padding: 2px;
}

.img #wof {
	display: inline-block;
	width: 250px;
	border-radius: 40%;
}