/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Font*/
body {
	font-family: 'Dosis', sans-serif;
	background-color: palegreen;
	text-align: center;
}
/*End of Font*/

/*Nav Bar*/
.topnav {
	background-color: #023020;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

/*End of Nav Bar*/

.text-center, h1 {
	padding: 10px;
	margin-bottom: 1rem;
}

.text-center, h3 {
	padding: 10px;
	margin-bottom: 1rem;
}

h2 {
	padding: 2rem;
}

/*Arrow*/
.arrow-down {
	padding-top: 2rem;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
}

/*Images*/
.col {
	overflow: hidden;
	display: inline-block;
	align-content: center;
	height: auto;
	padding: 2rem;
}

.col-b {
	overflow: hidden;
	align-content: center;
	display: inline-block;
	height: auto;
	padding: 2rem;
}

.col-b1 {
	display: inline-block;
	padding: 3px;
	padding-left: 5rem;
}


/*Varieties*/

img	{
	width: 250px;
	border-radius: 25%;
}
